* {
  font-family: monospace;
  font-weight: normal;
}

html {
  height: 100%;
  background: radial-gradient(#42bfdd, #084b83);
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 ;
}

body > *:not(script) {
  display: flex;
  padding: 2px 0;
}

h1 {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 3vh;
}

h2 {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 2vh;
}

.display {
  margin: 0 1ch;
  font-weight: bold;
}

.info {
  font-size: 2vh;
}

.ovoButton {
  background: none;
  border: none;
  width: fit-content;
  margin: 16px;
}

.ovoImage {
  max-width: 75vw;
  max-height: 40vh;
  filter: drop-shadow(5px 5px 10px #084B83);
  transition: 80ms;
}

.ovoButton:hover .ovoImage {
  scale: 1.05;
}

.ovoButton:active .ovoImage {
  scale: 1.03;
}

.skillButton {
  background-color: #5E0827;
  color: #ECF5FE;
  font-size: 3vh;
  border: none;
  border-radius: .3ch;
  padding: .5ch;

}

.shopButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Responsive section for screens with height greater than width */
@media screen and (max-aspect-ratio: 1/1) {
  h1 {
    font-weight: bold;
    font-size: 3vh;
  }
  
  .info {
    font-size: 2vh;
  }
}
