* {
  font-family: monospace;
}

html {
  background: radial-gradient(#42bfdd, #084b83);
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.display {
  margin-left: 1ch;
  margin-right: 1ch;
}

.OvoButton {
  background: transparent;
  max-width: 75vw;
  max-height: 50vh;
  width: fit-content;
  height: fit-content;
  padding: 1%;
  margin: 0;
  border: none;
  background-image: url(./Media/EggBack.svg);
  background-size: contain;
  z-index: -2;
  transition: all 100ms ease-in-out;
}

.OvoButton:focus{
  outline: none;
}

.OvoButton:hover {
  transform: scale(1.02);
}
  
.OvoButton:active {
  transform: scale(1.01);
}

.OvoImage {
  max-width: 75vw;
  max-height: 50vh;
  width: var(fit-content - 1%);
  height: fit-content;
  z-index: -1;
}

.info {
  font-size: calc(100/19 * 1vw);
}
